<a href="https://colab.research.google.com/github/ilikot/optim/blob/master/Portfolio_optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Portfolio Optimization

Made by Ilya Takidze, MIPT

Goal of this project is to study H.Markowitz portfolio optimization theory and to research whether some improvements or algorithms may be found. First point will be made by researching the original article and some additional ones. The second part will include working out some own thoughts and ideas.

There are two methods, which are most commonly used in portfolio optimization: Classical (Markowitz) and Tobin's models. They state different optimization problems with simmilar goal: to achieve the biggest risk-adjusted return using a given set of allowed portfolios.

### Markowitz problem

It solves the optimization problem:
\begin{array}{r l}
maximize & \mu^T w - \gamma w^T\Sigma w\\
s.t. & {\bf{1}}^T w = 1, \quad w \in {\cal{W}}
\end{array}

where  $$r \in \mathbb{R}^n$$  is a multivariate random variable and its mean $$\mathbb{E} = \mu_r$$
and covariance matrix
$$\mathbb{E}(r − \mu_r)(r − \mu_r)^T = \Sigma_r$$
Having an initial holding of $w^0_j$ dollars of asset $j, j = 1, \dots , n$ and we invest $x_j$ dollars in asset $j$. The return of our investment is also a
random variable
$$y = r^T (w^0 + x)$$
with mean value (or expected return)
$$\mathbb{E}y = \mu^T(w^0 + x)$$
and variance (or risk)
$$(y −\mathbb{E} y)^2 = (w^0 + x)^T \Sigma_r(w^0 + x)$$

In [0]:
#!pip install chart_studio
#!pip install zipline
#!pip install pandas
import numpy as np
import matplotlib.pyplot as plt
import cvxopt as opt
from cvxopt import blas, solvers
import pandas as pd
from scipy.optimize import minimize
import cufflinks
import chart_studio.plotly as py  
import plotly.tools as tls   
from plotly.graph_objs import *
#from zipline.utils.factory import load_bars_from_yahoo

In [0]:
def yahoo_data(stocks):
  #df = web.DataReader('TSLA', data_source='yahoo', start='2013-01-01', end='2018-01-01')
  #dates = df['']
  #a = df['Adj Close']
  num = len(stocks)
  data_source = 'yahoo'
  start = '2013-01-01'
  end = '2018-01-01'
  #data = np.zeros((num,len(a)))
  #for i in range(num):
  #  df = web.DataReader(stocks[i], data_source=data_source, start=start, end=end)
  #  data[i] = df['Adj Close']
  for symbol in stocks:
        data[symbol] = web.DataReader(symbol, data_source=data_source, start=start, end=end)['Adj Close']

  return data

In [74]:
stocks = ['GOOGL', 'TM', 'KO', 'PEP']
yahoo_data(stocks)

NameError: ignored

In [0]:
def mean_sd(returns):
    #Returns the mean and standard deviation of returns for my portfolio
    
    p = np.asmatrix(np.mean(returns, axis=1))
    w = np.asmatrix(rand_weights(returns.shape[0]))
    C = np.asmatrix(np.cov(returns))
    
    mu = w * p.T
    sigma = np.sqrt(w * C * w.T)
    
    # This recursion reduces outliers to keep plots pretty
    if sigma > 2:
        return random_portfolio(returns)
    return mu, sigma

In [0]:
end = pd.Timestamp.utcnow()
start = end - 2500 * pd.tseries.offsets.BDay()

data = zipline.load_bars_from_yahoo(stocks=['IBM', 'GLD', 'XOM', 'AAPL', 
                                    'MSFT', 'TLT', 'SHY'],
                            start=start, end=end)

In [7]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.6/dist-packages (0.8.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.21 in /usr/local/lib/python3.6/dist-packages (from pandas-datareader) (0.22.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->pandas-datareader) (3.0.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas-datareader) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas-datareader) (1.18.3)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21->pandas-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas>=0.21->pandas-datareader) (1.12.0)

In [43]:
#Import Pandas web data access library

import pandas_datareader as web

#Request quote information for Tesla's stock denoted by the symbol 'TSLA'

df = web.DataReader('TSLA', data_source='yahoo', start='2010-01-01',
                           end='2014-12-31')
print(df)
stocks = ['GOOGL', 'TM', 'KO', 'PEP']
num = len(stocks)
data_source = 'yahoo'
start = '2010-01-01'
end = '2018-01-01'

                  High         Low        Open       Close    Volume  \
Date
2010-06-29   25.000000   17.540001   19.000000   23.889999  18766300
2010-06-30   30.420000   23.299999   25.790001   23.830000  17187100
2010-07-01   25.920000   20.270000   25.000000   21.959999   8218800
2010-07-02   23.100000   18.709999   23.000000   19.200001   5139800
2010-07-06   20.000000   15.830000   20.000000   16.110001   6866900
2010-07-07   16.629999   14.980000   16.400000   15.800000   6921700
2010-07-08   17.520000   15.570000   16.139999   17.459999   7711400
2010-07-09   17.900000   16.549999   17.580000   17.400000   4050600
2010-07-12   18.070000   17.000000   17.950001   17.049999   2202500
2010-07-13   18.639999   16.900000   17.389999   18.139999   2680100
2010-07-14   20.150000   17.760000   17.940001   19.840000   4195200
2010-07-15   21.500000   19.000000   19.940001   19.889999   3739800
2010-07-16   21.299999   20.049999   20.700001   20.639999   2621300
2010-07-19   22.250000   20.920000   21.370001   21.910000   2486500
2010-07-20   21.850000   20.049999   21.850000   20.299999   1825300
2010-07-21   20.900000   19.500000   20.660000   20.219999   1252500
2010-07-22   21.250000   20.370001   20.500000   21.000000    957800
2010-07-23   21.559999   21.059999   21.190001   21.290001    653600
2010-07-26   21.500000   20.299999   21.500000   20.950001    922200
2010-07-27   21.180000   20.260000   20.910000   20.549999    619700
2010-07-28   20.900000   20.510000   20.549999   20.719999    467200
2010-07-29   20.879999   20.000000   20.770000   20.350000    616000
2010-07-30   20.440001   19.549999   20.200001   19.940001    426900
2010-08-02   20.969999   20.330000   20.500000   20.920000    718100
2010-08-03   21.950001   20.820000   21.000000   21.950001   1230500
2010-08-04   22.180000   20.850000   21.950001   21.260000    913000
2010-08-05   21.549999   20.049999   21.540001   20.450001    796200
2010-08-06   20.160000   19.520000   20.100000   19.590000    741900
2010-08-09   19.980000   19.450001   19.900000   19.600000    812700
2010-08-10   19.650000   18.820000   19.650000   19.030001   1281300
...                ...         ...         ...         ...       ...
2014-11-18  259.989990  255.509995  255.860001  257.700012   4473000
2014-11-19  251.880005  245.600006  250.610001  247.740005   7918500
2014-11-20  250.929993  246.000000  247.949997  248.710007   3587200
2014-11-21  252.779999  242.169998  252.210007  242.779999   7485100
2014-11-24  247.600006  240.639999  245.199997  246.720001   4789700
2014-11-25  249.720001  246.089996  247.350006  248.089996   3159800
2014-11-26  249.000000  246.600006  248.339996  248.440002   1981200
2014-11-28  246.690002  242.520004  245.350006  244.520004   2119700
2014-12-01  242.470001  229.009995  241.160004  231.639999   8619400
2014-12-02  234.880005  228.000000  234.570007  231.429993   5887000
2014-12-03  229.720001  225.500000  226.250000  229.300003   5307700
2014-12-04  230.899994  227.809998  228.600006  228.279999   3855600
2014-12-05  229.389999  222.259995  228.669998  223.710007   6063600
2014-12-08  224.860001  212.339996  221.539993  214.360001   9225600
2014-12-09  217.729996  204.270004  209.339996  216.889999   9431500
2014-12-10  216.770004  207.699997  214.130005  209.839996   7314100
2014-12-11  215.429993  208.229996  210.529999  208.880005   6694400
2014-12-12  211.679993  204.500000  204.820007  207.000000   7173800
2014-12-15  209.800003  202.669998  209.289993  204.039993   5218300
2014-12-16  203.679993  195.369995  200.889999  197.809998   8426100
2014-12-17  206.649994  192.649994  193.059998  205.820007   7367800
2014-12-18  218.440002  211.800003  212.380005  218.259995   7483300
2014-12-19  220.399994  214.500000  220.190002  219.289993   6910500
2014-12-22  224.059998  218.259995  220.000000  222.600006   4799400
2014-12-23  224.320007  219.520004  223.809998  220.970001   4505700
2014-12-24  222.500000  219.250000  219.770004  222.259995   1332200
2014-12-26  228.500000  221.500000  221.509995  227.820007   3327000
2014-12-29  227.910004  224.020004  226.899994  225.710007   2802500
2014-12-30  225.649994  221.399994  223.990005  222.229996   2903200
2014-12-31  225.679993  222.250000  223.089996  222.410004   2297500

             Adj Close
Date
2010-06-29   23.889999
2010-06-30   23.830000
2010-07-01   21.959999
2010-07-02   19.200001
2010-07-06   16.110001
2010-07-07   15.800000
2010-07-08   17.459999
2010-07-09   17.400000
2010-07-12   17.049999
2010-07-13   18.139999
2010-07-14   19.840000
2010-07-15   19.889999
2010-07-16   20.639999
2010-07-19   21.910000
2010-07-20   20.299999
2010-07-21   20.219999
2010-07-22   21.000000
2010-07-23   21.290001
2010-07-26   20.950001
2010-07-27   20.549999
2010-07-28   20.719999
2010-07-29   20.350000
2010-07-30   19.940001
2010-08-02   20.920000
2010-08-03   21.950001
2010-08-04   21.260000
2010-08-05   20.450001
2010-08-06   19.590000
2010-08-09   19.600000
2010-08-10   19.030001
...                ...
2014-11-18  257.700012
2014-11-19  247.740005
2014-11-20  248.710007
2014-11-21  242.779999
2014-11-24  246.720001
2014-11-25  248.089996
2014-11-26  248.440002
2014-11-28  244.520004
2014-12-01  231.639999
2014-12-02  231.429993
2014-12-03  229.300003
2014-12-04  228.279999
2014-12-05  223.710007
2014-12-08  214.360001
2014-12-09  216.889999
2014-12-10  209.839996
2014-12-11  208.880005
2014-12-12  207.000000
2014-12-15  204.039993
2014-12-16  197.809998
2014-12-17  205.820007
2014-12-18  218.259995
2014-12-19  219.289993
2014-12-22  222.600006
2014-12-23  220.970001
2014-12-24  222.259995
2014-12-26  227.820007
2014-12-29  225.710007
2014-12-30  222.229996
2014-12-31  222.410004

[1136 rows x 6 columns]

In [0]:
"D- матрица доходности(обычно загружается из файла)"
D=np.array([[9.889, 11.603,11.612,  12.721,11.453,12.102],
[12.517, 13.25,12.947,12.596,12.853,13.036],
[12.786, 12.822,15.447,14.452,15.143,16.247],
[11.863, 12.114,13.359,13.437,11.913,15.300],
[11.444, 13.292,13.703,11.504,13.406,15.255],
[14.696, 15.946,16.829,17.698,16.051,17.140]],np.float64)
d= np.zeros([6,1])# столбец для средней доходности 
m,n= D.shape#размерность матрицы
for j in np.arange(0,n):
         for i in np.arange(0,m):
                  d[j,0]=d[j,0]+D[i,j]
d=d/n
print("Средняя доходность по столбцам : \n %s"%d)
CV= np.zeros([m,n])
for i in np.arange(0,m):
         for j in np.arange(0,n):
                  x=np.array(D[0:m,j]).T
                  y=np.array(D[0:m,i]).T
                  X = np.vstack((x,y))
                  CV[i,j]=round(np.cov(x,y,ddof=0)[1,0],3)
print("Ковариационная матрица  CV: \n %s"%CV)
x1,x2,x3,x4,x5,x6,x7,x8,p,q,w=symbols(' x1 x2 x3 x4 x5 x6 x7 x8  p q w' , float= True)
v1=Matrix([x1,x2,x3,x4,x5,x6])
v2=v1.T
w=0
for i in np.arange(0,m):
         for j in np.arange(0,n):
                  w=w+v1[p.subs({p:i}),q.subs({q:0})]*v2[p.subs({p:0}),q.subs({q:j})]*CV[p.subs({p:i}),q.subs({q:j})]
print("Дисперсия доходности портфеля (функция риска):\n%s"%w)                  
def objective(x):#функция риска
         x1=x[0];x2=x[1];x3=x[2]; x4=x[3]; x5=x[4];  x6=x[5]
         return 2.117*x1**2 + 3.546*x1*x2 + 4.512*x1*x3 + 4.694*x1*x4 + 4.154*x1*x5 + 3.95*x1*x6\
                + 1.903*x2**2 + 3.882*x2*x3 + 4.098*x2*x4 + 3.776*x2*x5 + 3.202*x2*x6 + 2.901*x3**2 \
                + 5.574*x3*x4 + 5.402*x3*x5 + 5.522*x3*x6 + 3.935*x4**2 + 4.928*x4*x5 + 4.63*x4*x6 \
                + 2.723*x5**2 + 4.728*x5*x6 + 3.067*x6**2
def constraint1(x):#условие для суммы долей -1
         return x[0]+x[1]+x[2]+x[3]+x[4]+x[5]-1.0
def constraint2(x): # задание доходности       
         return d[0,0]*x[0] + d[1,0]*x[1] + d[2,0]*x[2] + d[3,0]*x[3] + d[4,0]*x[4]+ d[5,0]*x[5] - 13.25
x0=[1,1,0,0,0,1]#начальное значение переменных для поиска минимума функции риска
b=(0.0,1.0)# условие для  x от нуля до единицы включая пределы
bnds=(b,b,b,b,b,b)#передача условий в функцию  риска(подготовка)
con1={'type':'ineq','fun’: constraint1} #передача условий в функцию  риска(подготовка)
con2={'type':'eq','fun’: constraint2} #передача условий в функцию  риска(подготовка)
cons=[con1,con2]#передача условий в функцию  риска(подготовка)
sol=minimize(objective,x0,method='SLSQP',\
             bounds=bnds,constraints=cons)# поиск минимума функции риска
print("Минимум функции риска -%s"%str(round(sol.fun,3)))
print("Акция 1 доля- %s, доходность- %s"%(round(sol.x[0],3),round(d[0,0]*sol.x[0],3)))
print("Акция 2 доля- %s, доходность- %s"%(round(sol.x[1],3),round(d[1,0]*sol.x[1],3)))
print("Акция 3 доля- %s, доходность- %s"%(round(sol.x[2],3),round(d[2,0]*sol.x[2],3)))
print("Акция 4 доля- %s, доходность- %s"%(round(sol.x[3],3),round(d[3,0]*sol.x[3],3)))
print("Акция 5 доля- %s, доходность- %s"%(round(sol.x[4],3),round(d[4,0]*sol.x[4],3)))
print("Акция 6 доля- %s, доходность- %s"%(round(sol.x[5],3),round(d[5,0]*sol.x[5],3)))

SyntaxError: ignored

In [0]:
df

          Date        Open        High  ...       Close   Adj Close     Volume
0   2019-04-29  203.059998  215.309998  ...  211.750000  209.014221  164250900
1   2019-05-06  204.289993  208.839996  ...  197.179993  194.632446  173663600
2   2019-05-13  187.710007  192.470001  ...  189.000000  187.276581  186415500
3   2019-05-20  183.520004  188.000000  ...  178.970001  177.338043  156970100
4   2019-05-27  178.919998  180.589996  ...  175.070007  173.473602  104691400
5   2019-06-03  175.600006  191.919998  ...  190.149994  188.416077  154348200
6   2019-06-10  191.809998  196.789993  ...  192.740005  190.982468  111811700
7   2019-06-17  192.899994  200.850006  ...  198.779999  196.967377  131658900
8   2019-06-24  198.539993  201.570007  ...  197.919998  196.115219  117368500
9   2019-07-01  203.169998  205.080002  ...  204.229996  202.367676   72879400
10  2019-07-08  200.809998  204.389999  ...  203.300003  201.446182  101600700
11  2019-07-15  204.089996  206.500000  ...  202.589996  200.742645   87433200
12  2019-07-22  203.649994  209.729996  ...  207.740005  205.845688   87153200
13  2019-07-29  208.460007  221.369995  ...  204.020004  202.159607  219770500
14  2019-08-05  197.990005  203.529999  ...  200.990005  199.157242  173211400
15  2019-08-12  199.619995  212.139999  ...  206.500000  205.394424  161088600
16  2019-08-19  210.619995  214.440002  ...  202.639999  201.555099  141905000
17  2019-08-26  205.860001  210.449997  ...  208.740005  207.622437  109989600
18  2019-09-02  206.429993  214.419998  ...  213.259995  212.118225   82487100
19  2019-09-09  214.839996  226.419998  ...  218.750000  217.578842  175366900
20  2019-09-16  217.729996  223.759995  ...  217.729996  216.564285  142290500
21  2019-09-23  218.949997  222.490005  ...  218.820007  217.648483  116445200
22  2019-09-30  220.899994  228.220001  ...  227.009995  225.794617  158621700
23  2019-10-07  226.270004  237.639999  ...  236.210007  234.945358  147176400
24  2019-10-14  234.899994  238.130005  ...  236.410004  235.144302  105677400
25  2019-10-21  237.520004  246.729996  ...  246.580002  245.259842   96991700
26  2019-10-28  247.419998  255.929993  ...  255.820007  254.450378  163259200
27  2019-11-04  257.329987  260.440002  ...  260.140015  258.747253  105990200
28  2019-11-11  258.299988  265.779999  ...  265.760010  265.130768  115333400
29  2019-11-18  265.799988  268.000000  ...  261.779999  261.160187  113956300
30  2019-11-25  262.709991  268.000000  ...  267.250000  266.617249   75270300
31  2019-12-02  267.269989  271.000000  ...  270.709991  270.069031  114149800
32  2019-12-09  270.000000  275.299988  ...  275.149994  274.498535  142029400
33  2019-12-16  277.000000  282.649994  ...  279.440002  278.778381  183180000
34  2019-12-23  280.529999  293.970001  ...  289.799988  289.113831   96609500
35  2019-12-30  289.459991  300.600006  ...  297.429993  296.725769  131680800
36  2020-01-06  293.790009  312.670013  ...  310.329987  309.595215  167522900
37  2020-01-13  311.640015  318.739990  ...  318.730011  317.975372  163013900
38  2020-01-20  317.190002  323.329987  ...  318.309998  317.556335  115921300
39  2020-01-27  310.059998  327.850006  ...  309.510010  308.777191  216683700
40  2020-02-03  304.299988  325.220001  ...  320.029999  319.272278  163134600
41  2020-02-10  314.179993  327.220001  ...  324.950012  324.950012  123065900
42  2020-02-17  315.359985  324.649994  ...  313.049988  313.049988  119158800
43  2020-02-24  297.260010  304.179993  ...  273.359985  273.359985  349603500
44  2020-03-02  282.279999  304.000000  ...  289.029999  289.029999  323450200
45  2020-03-09  263.750000  286.440002  ...  277.970001  277.970001  404209900
46  2020-03-16  241.949997  259.079987  ...  229.240005  229.240005  405065900
47  2020-03-23  228.080002  258.679993  ...  247.740005  247.740005  346047500
48  2020-03-30  250.740005  262.489990  ...  241.410004  241.410004  209252700
49  2020-04-06  250.899994  271.700012  ...  267.989990  267.989990  183929800
50  2020-04-13  268.309998  288.250000  ...  282.799988  282.799988  207386800
51  2020-04-20  277.950012  283.010010  ...  282.970001  282.970001  169846800
52  2020-04-27  281.799988  294.529999  ...  293.799988  293.799988  137050900
53  2020-04-30  289.959991  294.519989  ...  293.799988  293.799988   37537233

[54 rows x 7 columns]

In [0]:
df = pd.read_csv("AAPL.csv")

### Tobin problem

For minimal risk and maximal efficiency optimization this approaches solve the following optimization problems:

$$
\begin{array}{c|c}
\begin{array}{r l}
minimize & \sqrt{\sum \limits_{i=0}^{n} w_i^2  \sigma_i^2 + 2 \sum \limits_{i=1}^{n-1} \sum \limits_{j = i+1}^n w_i  w_j  k_{ij}  \sigma_i  \sigma_j} \\
s.t. & w_0  r_0 + \sum \limits_{i=0}^{n} w_i  r_i > r_p \\
& w_0 + \sum \limits_{i=0}^{n} w_i = 1 \\
& w_i \ge 0
\end{array} 
&
\begin{array}{r l}
maximize & w_0  r_0 + \sum \limits_{i=0}^{n} w_i  r_i \\
s.t. & \sqrt{\sum \limits_{i=0}^{n} w_i^2  \sigma_i^2 + 2 \sum \limits_{i=1}^{n-1} \sum \limits_{j = i+1}^n w_i  w_j  k_{ij}  \sigma_i  \sigma_j} < \sigma_p \\
& w_0 + \sum \limits_{i=0}^{n} w_i = 1 \\
& w_i \ge 0
\end{array}
\end{array}
$$